<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>Use Bing Maps REST Services with jQuery to build an autocomplete box and find a location dynamically</title>
  <script src="http://ajax.aspnetcdn.com/ajax/jquery/jquery-1.5.1.js" type="text/javascript"></script>
  <script src="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.10/jquery-ui.js" type="text/javascript"></script>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <link href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.10/themes/redmond/jquery-ui.css" rel="stylesheet" type="text/css"/>
  <style type="text/css">
      #searchBox {
          width: 25em;
      }
  </style>
  <script type="text/javascript" src="http://ecn.dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=7.0"></script>
  <script type="text/javascript">

      var map = null;

      function GetMap() {
          // Initialize the map
          map = new Microsoft.Maps.Map(document.getElementById("mapDiv"), {
              credentials: "AqtDSeP58q7OcmYcV45dIPgp1ozzyJTfbpsRjgARWn43AU3T-tuzSqN06_8Uf7b5",
              mapTypeId: Microsoft.Maps.MapTypeId.road
          });


      }


      var originPointString = "-36.7281799,174.7384338[Point]";
      var destinationPointString = "-36.8461914,174.7571869[Point]";

      //========================================================

      var showResults = function (data) {
//          var arr = $.map(data[1], function (item) {
//              return {
//                  value: item[0]
//              };
//          });
//          console.log(arr);
//          return arr;
          console.log(data);
      };

      var results = new Bloodhound({
          datumTokenizer: function (data) {
              return Bloodhound.tokenizers.whitespace(data.value);
          },
          queryTokenizer: Bloodhound.tokenizers.whitespace,
          remote: {
              url: "http://dev.virtualearth.net/REST/v1/Locations?key=AqtDSeP58q7OcmYcV45dIPgp1ozzyJTfbpsRjgARWn43AU3T-tuzSqN06_8Uf7b5&q=%QUERY",
              ajax: {
                  type: 'GET',
                  dataType: 'jsonp'
              },
              filter: showResults
          }
      });

      results.initialize();
      $(document).ready(function () {
          $('#gq').typeahead(null, {
              name: 'results',
              displayKey: 'value',
              source: results.ttAdapter()
          });
      });

      //=======================================================


//      var bestPictures = new Bloodhound({
//          datumTokenizer: Bloodhound.tokenizers.obj.whitespace('value'),
//          queryTokenizer: Bloodhound.tokenizers.whitespace,
//          remote: {
//              ajax: {
//                  url: "http://dev.virtualearth.net/REST/v1/Locations?key=AqtDSeP58q7OcmYcV45dIPgp1ozzyJTfbpsRjgARWn43AU3T-tuzSqN06_8Uf7b5&q=%QUERY",
//                  dataType: "jsonp",
//                  jsonp: "jsonp",
//                  success: function (data) {
//                      var result = data.resourceSets[0];
//                      if (result) {
//                          if (result.estimatedTotal > 0) {
//                              response($.map(result.resources, function (item) {
//                                  setOriginPointString(item.point.coordinates);
//                                  console.log(originPointString);
//                                  return {
//                                      data: item,
//                                      label: item.name + ' (' + item.address.countryRegion + ')',
//                                      value: item.name
//                                  }
//                              }));
//                          }
//                      }
//                  }
//              }
//          }
//      });
//
//      bestPictures.initialize();
//
//      $('#remote .typeahead').typeahead(null, {
//          name: 'best-pictures',
//          displayKey: 'value',
//          source: bestPictures.ttAdapter()
//      });


      //      $(document).ready(function() {
      //          $("#origin").autocomplete({
      //              source: function (request, response) {
      //                  var query = request.term + ",New Zealand";
      //                  $.ajax({
      //                      url: "http://dev.virtualearth.net/REST/v1/Locations",
      //                      dataType: "jsonp",
      //                      data: {
      //                          key: "AqtDSeP58q7OcmYcV45dIPgp1ozzyJTfbpsRjgARWn43AU3T-tuzSqN06_8Uf7b5",
      //                          q: query
      //                      },
      //                      jsonp: "jsonp",
      //                      success: function (data) {
      //                          var result = data.resourceSets[0];
      //                          if (result) {
      //                              if (result.estimatedTotal > 0) {
      //                                  response($.map(result.resources, function (item) {
      //                                      setOriginPointString(item.point.coordinates);
      //                                      console.log(originPointString);
      //                                      return {
      //                                          data: item,
      //                                          label: item.name + ' (' + item.address.countryRegion + ')',
      //                                          value: item.name
      //                                      }
      //                                  }));
      //                              }
      //                          }
      //                      }
      //                  });
      //              },
      //              minLength: 1
      //          });
      //      });

//      $(document).ready(function () {
//          $("#destination").autocomplete({
//              source: function (request, response) {
//                  $.ajax({
//                      url: "http://dev.virtualearth.net/REST/v1/Locations",
//                      dataType: "jsonp",
//                      data: {
//                          key: "AqtDSeP58q7OcmYcV45dIPgp1ozzyJTfbpsRjgARWn43AU3T-tuzSqN06_8Uf7b5",
//                          q: request.term
//                      },
//                      jsonp: "jsonp",
//                      success: function (data) {
//                          var result = data.resourceSets[0];
//                          if (result) {
//                              if (result.estimatedTotal > 0) {
//                                  response($.map(result.resources, function (item) {
//                                      setDestinationPointString(item.point.coordinates);
//                                      console.log(destinationPointString);
//                                      return {
//                                          data: item,
//                                          label: item.name + ' (' + item.address.countryRegion + ')',
//                                          value: item.name
//                                      }
//                                  }));
//                              }
//                          }
//                      }
//                  });
//              },
//              minLength: 1
//          });
//      });
//
//      function setOriginPointString(coordinates) {
//          originPointString = coordinates[0] + "," + coordinates[1] + " [Point]"
//      }
//
//      function setDestinationPointString(coordinates) {
//          destinationPointString = coordinates[0] + "," + coordinates[1] + " [Point]"
//      }
//
//      function calculateTrafficTime() {
//          console.log("2");
//          var query = encodeURI("wp.0=" + originPointString + "&wp.1=" + destinationPointString + "&routePathOutput=Points&output=json&avoid=minimizeTolls&key=AqtDSeP58q7OcmYcV45dIPgp1ozzyJTfbpsRjgARWn43AU3T-tuzSqN06_8Uf7b5");
//          $.ajax({
//              url: "http://dev.virtualearth.net/REST/V1/Routes/Driving?" + query,
//              dataType: "jsonp",
//              jsonp: "jsonp",
//              success: function (data) {
//                  console.log(data);
//                  console.log();
//                  var trafficTime = data.resourceSets[0].resources[0].travelDurationTraffic;
//                  console.log(trafficTime);
//                  $("#trafficTimeLabel").text(Math.round(trafficTime / 60) + " minutes");
//
//                  if (data &&
//                          data.resourceSets &&
//                          data.resourceSets.length > 0 &&
//                          data.resourceSets[0].resources &&
//                          data.resourceSets[0].resources.length > 0) {
//
//                      // Set the map view
//                      var bbox = data.resourceSets[0].resources[0].bbox;
//                      var viewBoundaries = Microsoft.Maps.LocationRect.fromLocations(new Microsoft.Maps.Location(bbox[0], bbox[1]), new Microsoft.Maps.Location(bbox[2], bbox[3]));
//                      map.setView({bounds: viewBoundaries});
//
//
//                      // Draw the route
//                      var routeline = data.resourceSets[0].resources[0].routePath.line;
//                      var routepoints = new Array();
//
//                      for (var i = 0; i < routeline.coordinates.length; i++) {
//
//                          routepoints[i] = new Microsoft.Maps.Location(routeline.coordinates[i][0], routeline.coordinates[i][1]);
//                      }
//
//
//                      // Draw the route on the map
//                      var routeshape = new Microsoft.Maps.Polyline(routepoints, {strokeColor: new Microsoft.Maps.Color(200, 0, 0, 200)});
//                      map.entities.push(routeshape);
//                  }
//
//              }
//
//
//          });
//      }
//
//      $(document).ready(function () {
//          $("#calculateTrafficTimeButton").click(function () {
//              console.log("1");
//              calculateTrafficTime();
//          });
//      });
  </script>


</head>
<body onload="GetMap();">


<div id="remote">
  <input id="gq" class="typeahead" type="text" placeholder="Oscar winners for Best Picture">
</div>

<br><br><br><br><br>

<div>
  <div class="ui-widget">
    <label for="origin">
      Origin:
    </label>
    <input id="origin"/>
    <br>
    <label for="destination">
      Destination:
    </label>
    <input id="destination"/>
  </div>
  <div id="searchResult" class="ui-widget" style="margin-top: 1em;">
  </div>
  <div>
    <button id="calculateTrafficTimeButton">Calculate Traffic Time</button>
    <div id="trafficTimeLabel"/>
  </div>

  <div id='mapDiv' style="position:relative; width:400px; height:400px;"></div>
</div>
</body>
</html>